@import '../../mixin';

.about {
    position: relative;
    overflow: hidden;
    min-height: 75vh;
    background: url('../../components/assets/about.jpg') no-repeat center/cover;
    // background: #fff;
    margin-bottom: 80px;
    .about-head{
        backdrop-filter: blur(4px);
        height: 100%;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.5);
        
    }

    .about-title{
        margin: 16rem 0;
    }
    .room-img {
        height: 50vh;
        background: url('../../components/assets/about.jpg') no-repeat center/cover;
    }
}