@import "../../mixin";

.agent {
  width: 100%;
  // min-height: 100vh;
  overflow: hidden;
  background: url("../../components/assets/agent-bg.jpg") no-repeat 0 0;
  background-size: 100% 70vh;

  .agent-head {
    backdrop-filter: blur(2px);
    height: 70vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);

    .agent-title {
      margin-top: 12rem;
    }
    .agent-text {
      position: relative;
      margin: 6rem auto;
      color: aliceblue;
      
      padding: 0 2rem;
    }
  }
  .agent-body {
    // height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // align-items: center;
    text-align: left;
    .card {
      // height: 846px;
      min-height: 60rem;
      width: 628px;
      margin: 20px;
      padding: 0 4rem 5rem 4rem;
        border-radius: 20px;
        border: 2px solid #EA8D3D;
      p{
        text-align: left;
        line-height: 2;
      }
      ul{
        list-style: unset;
      }
      li{
        line-height: 1.5;
        font-size: 1.5rem;
      }
    }
  }
  .agent-foot{
    text-align: left;
    padding: 0 4rem;
    margin-bottom: 180px;
    li{
        line-height: 2;
        font-size: 1.5rem;
        padding-left: 2rem;
      }
    p{
        text-align: left;
        margin-top: 20px;
    }
  }
}
