@import "../../mixin";

.agent {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: url("../../components/assets/agent.jpg") no-repeat 0 0;
  background-size: 100% 70vh;

  .agent-head {
    backdrop-filter: blur(2px);
    height: 70vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);

    .agent-title {
      margin-top: 200px;
    }
    .agent-text {
      position: relative;
      margin: 40px auto;
      color: aliceblue;
      width: 1200px;
      padding: 30px;
    }
  }
  .agent-body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    .card {
      height: 846px;
      width: 736px;
      margin: 0 20px;
      padding: 0 80px;
        border-radius: 20px;
        border: 2px solid #EA8D3D;
      p{
        text-align: left;
        line-height: 2;
      }
      ul{
        list-style: unset;
      }
      li{
        line-height: 1.5;
        font-size: 24px;
      }
    }
  }
  .agent-foot{
    text-align: left;
    padding: 0 180px;
    margin-bottom: 180px;
    li{
        line-height: 1.5;
        font-size: 24px;
        padding-left: 40px;
      }
    p{
        text-align: left;
    }
  }
}
